@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
$font-family: "Arimo", sans-serif;
$btn-color: rgba(0, 0, 0, 1);
$gray-color: rgba(232, 232, 232, 0.5);
$gray-color-hover: rgb(60, 60, 60);
$font-color: rgb(80, 79, 79);
$breakpoint-tablet: 960px;
$breakpoint-mobile: 576px;
$section-margin-top: 100px;
$shadow: 0px 10px 5px 2px grey;